.button {
  border: 1px solid black;
  padding: 2px;
  box-shadow: 0 1px #999;
  border-radius: 4px;
}

.button:hover {
  background-color: #efefef;
  cursor: pointer;
}

.button:active {
  background-color: #569ff6;
  box-shadow: 0 1px #666;
  transform: translateY(1px);
}
