.svg_container {
  position: absolute;
  width: 200px;
  height: 200px;
}

.base {
  fill:none;
  stroke:#f3f3f3;
  stroke-width:10;
}

.blue {
  fill:none;
  stroke:#0071bc;
  stroke-width:10;
  stroke-linecap:round;
  stroke-dasharray: 100;
}

.spinit {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}