.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.sploader_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.svg_container {
  width: 200px;
  height: 200px;
}

.loading_value {
  position: absolute;
  font-size: 3em;
  padding-left: 10px;
}

.base {
  fill:none;
  stroke:#efefef;
  stroke-width:10;
}

.blue {
  fill:none;
  stroke:#569ff6;
  stroke-width:10;
  stroke-linecap:round;
  stroke-dasharray: 100;
}

.spinit {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.percent {
  font-size: 0.5em;
  vertical-align: super;
  color: #efefef;
}

.buttons {
  height: 40px;
  width: 220px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.start, .stop {
  border: 1px solid black;
  padding: 2px;
  box-shadow: 0 1px #999;
  border-radius: 4px;
}

.start:hover, .stop:hover {background-color: #efefef}

.start:active, .stop:active {
  background-color: #569ff6;
  box-shadow: 0 1px #666;
  transform: translateY(1px);
}
